/* Estilos generales */
/*Escribe aquí tu CSS - Fdo LuisGG*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
    height: 100%
}

body {

    background: url(../img/fondo.jpg);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    overflow: hidden;    text-align: center;

}

#panta {
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-image: url('../img/cielo.png');
    z-index: 1;
    background-size: 30%;
    width: 100%;
    height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#centro {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;color:#fff;font-size: 1.5em;
    opacity: 0;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#centro strong{
    display: block;
    color: #ff0000;
    font-size: 6em;
}
#intro {
    color: #0f0;opacity: 0;transition:opacity 0.5s ease;
    line-height: 2em;
    font-size: 10px;
    line-height: 2;
    width: 70%;height:70%;
    padding: 5%;margin:30px auto;
    overflow-y: scroll;
    display:none;
}
#intro h1{
    font-size:16px
}
#intro h1{
    font-size:14px
}
#intro h1 em{
    color:#f00
}
#controles{
   text-align: left;margin-left: 4em;
}
#controles li{
    margin:25px 0;
}

#controles strong{
    padding:10px;border:2px solid #fff; color:#fff; border-radius:20px;
    font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:18px;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    color: #ff0;width:80%;margin:auto;
    font-size: 12px;
    border: 2px solid #fff;
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: #ff0;
    color: #000;
    transform: scale(1.1);
}

button:active {
 
    color: #fff;
    transform: scale(0.95);
    border-color: #fff;
}

#salida {
    box-sizing: border-box;opacity: 0;transition:opacity 0.5s ease;
    width:calc(100% - 10px);
    position: absolute;
    bottom:0px;
    left: 0px;
    color: #fff;
    z-index: 9;
    display: flex;
    margin: 0 5px;padding:5px 0;
    border-top:5px dotted #fff
}

#salida>* {
    min-width: 100px;margin:0 20px;
}
#salida>*>strong {
    font-size:11px;letter-spacing:4px;font-weight: bold;
}
#leyenda-alien{
    width:20px
}

#disparos { 
    color: #0f0;
 
}
#vidas{
  display: flex;
    }
#vidas svg{
    margin-right:2px;width:20px;
}

.alien {
    position: absolute;
    width: 5vw;
    max-width: 24px;
    min-width: 12px;
    height: auto;
    color: #fff;
    z-index: 8;
    user-select: none;
    filter:saturate(50%)
}

.alien.bisho{
    width: 7vw;
    max-width: 36px;

}

.alien .core-alien {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.alien-destruido {
    
    position: absolute;
    z-index: 10;
    width: 27px;
    height: 26px;
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;

}

.alien .cabeza {
    position: absolute;
    width: 100%;
    top: 0;
    left: 3px;

}

.alien .manos {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 50% 50%; /* Define el punto medio */
}

.alien.enfadado  rect , .alien.enfadado  path,  .alien.enfadado  polygon{
    /* fill: #f00 !important; */
    filter:saturate(3)
}

.alien-destruido rect {
    fill: #fff;
    transition: transform 1000ms ease-out;
    position: absolute;
}

#boton {
    position: absolute;
    top: 10px;
    right: 10px;
}



#nave {
    position: absolute;
    bottom: 40px;
    left: 100px;
    z-index: 5;
    user-select: none;
}
#nave #fuego{
    position:absolute;bottom:-45px;left:-6px;
    font-size: 50px;color:#f40
}
#nave #fuego img{
    width:40px; transform: rotate(180deg);
}
.disparo {
    position: absolute;
    bottom: 10px;
    z-index: 7;
    color: #7fc;
    z-index: 1;
    width: 1px;
}


/* .estrellas rect{
    fill:#fff;
    transform: rotate(45deg);
} */